# Ignore Python cache directories
__pycache__/
utils/__pycache__/

# Ignore specific CSV file
clean_metadata.csv

# Ignore best model
best_model/

models/
models/document_classification_model/
models/document_classification_model/
models/document_classification_model/
dupes/
