# Ignore Python cache directories
__pycache__/
utils/__pycache__/

# Ignore specific CSV file
clean_metadata.csv

# Ignore best_model and models folders
best_model/
models/
models/document_classification_model/
models/document_classification_model/
models/document_classification_model/
dupes/
.vscode/
*.yaml
*.ipynb
